.category
    &-title
        font-size: 20px
        border-bottom: 2px solid #9a9a9a
        margin: 20px 0
    &-items
        display: flex
        justify-content: flex-start
        align-items: center
    &-item
        &:hover
            cursor: pointer
        & + &
            margin-left: 30px
        &.active
            .category-img
                img
                    border: 2px solid red
        &.highlight
            .category-img
                img
                    border: 2px solid orange
    &-img
        text-align: center
        img
            width: 50px
            height: 50px
            border: 2px solid #64d296
            border-radius: 50%
            padding: 5px
        &.plus
            img
                border: 2px solid #9a9a9a
            &.active
                border: 2px solid red
    &-name,
    &-sum
        text-align: center