body
    text-transform: uppercase

.content
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    padding: 20px

a
    display: block
    text-decoration: none
    color: $color-text
    padding: 15px 18px
    &:hover
        text-decoration: none
        color: $color-text