<!DOCTYPE html>
<html>
<head>
    <title>Your Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <link href="libs/normalize.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="libs/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.overrides.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body data-ng-app="CoinKeeperApp">

<div class="header">
    <div class="container">
        <div class="header-menu header-menu__left" ng-controller="MenuController as menu">
            <div class="header-menu__item" data-ng-click="menu.toggleMenu()">
                <div class="header-menu__icon">
                    <i class="fa fa-th-large" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="header-menu header-menu__right" ng-controller="UserController as UserCtrl">
            <div class="header-menu__item">
                <div class="header-menu__icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                <div class="header-menu__text">User: {{UserCtrl.userData.name}} {{UserCtrl.userData.surname}}</div>
            </div>
            <div class="header-menu__item">
                <div class="header-menu__icon"><i class="fa fa-balance-scale" aria-hidden="true"></i></div>
                <div class="header-menu__text">${{UserCtrl.userData.balance}}</div>
            </div>
            <div class="header-menu__item">
                <div class="header-menu__icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                <div class="header-menu__text">${{UserCtrl.userData.expenses}}</div>
            </div>
            <div class="header-menu__item">
                <div class="header-menu__icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <div id="digitalDate" class="header-menu__text"></div>
            </div>
            <div class="header-menu__item">
                <div class="header-menu__icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                <div id="digitalWatch" class="header-menu__text"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content category" ng-controller="CategoryController as category">
        <div class="category-items">
            <div class="category-item" ng-repeat="incomeCategory in category.incomeCategories"
                 data-ng-click="category.incomeClick(incomeCategory.id)" data-ng-class="{active : category.incomeActive == incomeCategory.id}">
                <div class="category-name">{{incomeCategory.name}}</div>
                <div class="category-img"><img data-ng-src="{{incomeCategory.icon}}" alt=""></div>
                <div class="category-sum">${{incomeCategory.summ}}</div>
            </div>
        </div>
        <div class="category-title">Savings</div>
        <div class="category-items">
            <div class="category-item" ng-repeat="savingsCategory in category.savingsCategories"
                 data-ng-click="category.savingsClick(savingsCategory.id)" ng-class="{highlight : category.savingsHighlighted, active : category.savingActive == savingsCategory.id}">
                <div class="category-name">{{savingsCategory.name}}</div>
                <div class="category-img"><img data-ng-src="{{savingsCategory.icon}}" alt=""></div>
                <div class="category-sum">${{savingsCategory.summ}}</div>
            </div>
            <div class="category-item">
                <div class="category-img plus" data-ng-click="category.plusClick('savings')"><img src="img/catagory-plus.png" alt=""></div>
            </div>
        </div>
        <div class="category-title">Spends</div>
        <div class="category-items">
            <div class="category-item" ng-repeat="expensesCategory in category.expensesCategories"
                 data-ng-click="category.expensesClick(expensesCategory.id)" ng-class="{highlight : category.expensesHighlighted}">
                <div class="category-name">{{expensesCategory.name}}</div>
                <div class="category-img"><img data-ng-src="{{expensesCategory.icon}}" alt=""></div>
                <div class="category-sum">${{expensesCategory.summ}}</div>
            </div>
            <div class="category-item">
                <div class="category-img plus" data-ng-click="category.plusClick('exprenses')"><img src="img/catagory-plus.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

<script src="libs/jquery.min.js" type="text/javascript"></script>
<script src="libs/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="libs/angular.min.js" type="text/javascript"></script>

<script src="js/date.js" type="text/javascript"></script>

<script src="js/app.js" type="text/javascript"></script>
<script src="js/controllers/CategoryController.js" type="text/javascript"></script>
<script src="js/controllers/MenuController.js" type="text/javascript"></script>
<script src="js/controllers/UserController.js" type="text/javascript"></script>
<script src="js/models/CategoryService.js" type="text/javascript"></script>
</body>
</html>
