<div class="content history">
    <div class="history__title">History</div>
    <div class="history__info">
        <div class="history__months">
            <ul>
                <li ng-repeat="month in history.months" data-ng-click="history.month($index + 1)"
                    data-ng-class="{active : history.activeMonth == $index + 1}">{{month}}</li>
            </ul>
        </div>
        <div class="history__years">
            <div class="history__years-prev" data-ng-click="history.prev()">«</div>
            <div class="history__years-current">{{history.activeYear}}</div>
            <div class="history__years-next" data-ng-click="history.next()">»</div>
        </div>
        <div class="history__report">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="record in history.records">
                        <td>${{record.sum}}</td>
                        <td>{{record.type}}</td>
                        <td>{{record.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>